body {
	margin: 0;
	color: #000;
	font: 11px/14px Arial, Helvetica, sans-serif;
	background: #fff;
}
img { border-style: none; }
a {
	text-decoration: none;
	color: #000;
}
a:hover { text-decoration: underline; }
input, textarea, select {
	font: 100% Arial, sans-serif;
	vertical-align: middle;
	color: #000;
}
form, fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}
#wrapper {
	margin: 0 auto;
	width: 900px;
	padding: 40px 0 0;
}
form {
	padding: 0 0 30px;
	clear: both;
}
h1 {
	margin: 0 0 20px;
	font: 31px/34px Georgia, "Times New Roman", Times, serif;
	text-align: center;
}
h2 {
	margin: 0 0 10px;
	font-size: 16px;
	line-height: 19px;
}
.resize textarea { opacity: 0.5; }

/* Example 1 */
.textarea {
	padding: 5px 5px 16px;
	margin: 0 0 11px;
	border: 1px solid #808080;
	display: inline-block;
	position: relative;
}
.textarea textarea {
	margin: 0;
	padding: 0;
	float: left;
	width: 400px;
	height: 100px;
	border: 0;
	font: 12px/15px Arial, Helvetica, sans-serif;
	resize: none;
	overflow: auto;
	background: none;
}
.textarea .handler {
	position: absolute;
	bottom: 3px;
	right: 3px;
	width: 11px;
	height: 11px;
	background: url(../Images/ico-handler.gif) no-repeat;
	overflow: hidden;
	cursor: se-resize;
}

/* Example 2 */
.textarea2 {
	padding: 5px 5px 0;
	margin: 0 0 11px;
	border: 1px solid #808080;
	display: inline-block;
	position: relative;
}
.textarea2 textarea {
	margin: 0;
	padding: 0;
	display: block;
	width: 400px;
	height: 100px;
	border: 0;
	font: 12px/15px Arial, Helvetica, sans-serif;
	resize: none;
	overflow: auto;
	background-color: #fbf9f9;
}
.textarea2 .handler {
	margin: 5px -5px 0;
	display: block;
	height: 11px;
	background: #eee url(../Images/ico-handler2.gif) no-repeat 50% 3px;
	border: 1px solid #ddd;
	overflow: hidden;
	cursor: s-resize;
	clear: both;
	width: 408px;
}

/* Example 3 */
.holder { margin: 10px 20px 0; }
.textarea3 {
	padding: 5px 5px 0;
	margin: 0 0 11px;
	border: 1px solid #808080;
	position: relative;
	height: 1%;
	overflow: hidden;
}
.textarea3 textarea {
	margin: 0;
	padding: 0;
	display: block;
	width: 100%;
	height: 100px;
	border: 0;
	font: 12px/15px Arial, Helvetica, sans-serif;
	resize: none;
	overflow: auto;
	background: none;
}
.textarea3 .handler {
	margin: 5px -5px 0;
	display: block;
	height: 11px;
	background: #eee url(../Images/ico-handler2.gif) no-repeat 50% 3px;
	border: 1px solid #ddd;
	overflow: hidden;
	cursor: s-resize;
}